/* src/Profile.css */
.student-info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

.student-info div {
  margin-bottom: 10px;
  text-align: left;
}

.student-info label {
  display: block;
  font-weight: bold;
}

.student-info input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.save-button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: darkblue;
}
